<md-dialog aria-label="New Interest">
  <form name="new_interest_form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Interest</h2>
        <span flex></span>
        <md-button class= "md-icon-button" ng-click="vm.cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="alert alert-danger" ng-show="vm.interest_creation_failed">
      <a href="#" class="close" ng-click="vm.interest_creation_failed = false;" >&times;</a>
      <strong>Error : </strong> Interest Creation Failed
      <br>
      <span ng-repeat="(field,error) in vm.interest_creation_failed_messages">
        <span ng-repeat="err in error">{{field}} : {{err}}</span>
        <br>
      </span>
    </div>
    <md-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Interest</label>
          <input required name="interest" ng-model="vm.data.interest" minlength="3" maxlength="20">
          <div ng-messages="new_interest_form.interest.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              This field can not be blank and its length should be between 3 and 30 characters.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="vm.data.desc" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.createNewInterest()" class="md-raised md-primary">
        Create
      </md-button>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.interest_creation_in_progress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
