<div class="container">
  <md-content>
    <div layout="row">
      <span class="h1">Training Kit list</span>
    </div>
    <br>
    <div layout="row">
      <md-button class="md-raised md-primary" ng-disabled="!vm.is_admin" ng-click="vm.createKit()">New</md-button>
    </div>
    <br>
    <div class=""> <!-- SHAIL: Empty Class? What is the significance? -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="kit in vm.kits">
            <td>{{kit.id}}</td>
            <td>{{kit.name}}</td>
            <td>{{kit.description.length<=15?kit.description:kit.description.substr(0,12)+'...'}}</td>
            <td><md-button class="md-icon-button" title="Show Pages" ng-click="vm.getPages(kit.id)"><i class="material-icons">list</i></md-button></td>
            <td><md-button class="md-icon-button" title="Edit" ng-disabled="!vm.is_admin" ng-click="vm.openKitDialog(kit.id)"><i class="material-icons">mode_edit</i></md-button></td>
            <td><md-button class="md-icon-button" title="Delete Kit" ng-disabled="!vm.is_admin" ng-click="vm.deleteKit(kit.id)"><i class="material-icons">clear</i></md-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</div>
