<div class="container">
    <md-content>
      <div layout="row">
        <span class="h1">{{vm.kit.name}}</span>
      </div>
      <div layout="row">
        <span class="">{{vm.kit.description}}</span>
      </div>
      <div layout="row">
        <span class="">Kit ID: {{vm.kit.id}}</span>
      </div>
      <div layout="row">
        <md-button class="md-raised md-primary" ng-disabled="!vm.is_admin" ng-click="vm.createPage()"> <i class="material-icons icon-align">content_copy</i> New</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.previewContent()"> <i class="material-icons icon-align">play_arrow</i> Showcase </md-button>
      </div>
      <div class="">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Content_type</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="page in vm.kit.pages">
              <td>{{page.id}}</td>
              <td>{{page.name}}</td>
              <td ng-attr-title="{{page.description}}">{{page.description.length<=15?page.description:page.description.substr(0,12)+'...'}}</td>
              <td>{{vm.pagetypes[page.content_type]}}</td>
              <td><md-button class="md-icon-button" title="Edit Meta" ng-disabled="!vm.is_admin" ng-click="vm.openPageDialog(page.id)"><i class="material-icons">settings</i></md-button></td>
              <td><md-button class="md-icon-button" title="Edit Page" ng-disabled="!vm.is_admin" ng-click="vm.openPageEditor(page.id)"><i class="material-icons">collections</i></md-button></td>
              <td><md-button class="md-icon-button" title="Remove" ng-disabled="!vm.is_admin" ng-click="vm.deletePage(page.id)"><i class="material-icons">delete</i></md-button></td>
            </tr>
          </tbody>
        </table>
      </div>
	</md-content>
</div>