/* Custom Stylesheet
 *
 */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
	cursor: pointer;
}

md-dialog.login-register-update-dialog {
  width: 30%
}

md-card.kit-page-cards {}

.material-icons.kitshowcase-toggle-icon {
  font-size: 3.6rem;
  width : 4.6rem;
  height: 3.6rem;
  display: block;
}

.material-icons.icon-align {
  vertical-align: middle;
  padding: 2px;
}

.blue-theme {
  background-color: #8c9eff;
  color: black;
}
.yellow-theme {
  background-color: #ffff8d;
  color: black;
}
.green-theme {
  background-color: #b9f6ca;
  color: black;
}
.pink-theme {
  background-color: #ff80ab;
  color: black;
}

.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}