<ng-form layout="row" name="innerForm" id="innerForm">
  <div ng-show="!field.multiple" layout="row" flex>
    <span flex="40">{{field.title}}</span>
    <md-input-container flex>
      <md-radio-group name="radiofield" ng-model="field.value" ng-required="field.required" ng-disabled="field.disabled" >
        <md-radio-button ng-repeat="option in field.options" value="{{option.value}}">{{option.title}}</md-radio-button>
        </md-radio-group>
        <div ng-messages="innerForm.radiofield.$error" role="alert">
          <div ng-message-exp="['required']">
            Required.
          </div>
        </div>
    </md-input-container>
  </div>

  <div ng-show="field.multiple" flex class="well">
    <md-button ng-show="field.multiple" class="md-primary" ng-click="vm.addMoreToMultiField()"><i class="material-icons icon-align md-icon-button">add</i>More {{field.title}}</md-button>
    <div layout="row" flex ng-repeat="val in field.value track by $index">
      <span flex="40">{{field.title}}</span>

      <md-input-container flex>
        <md-radio-group name="radiofield" ng-model="field.value[$index]" ng-required="field.required" ng-disabled="field.disabled" >
          <md-radio-button ng-repeat="option in field.options" value="{{option.value}}">{{option.title}}</md-radio-button>
        </md-radio-group>
        <div ng-messages="innerForm.radiofield.$error" role="alert">
          <div ng-message-exp="['required']">
            Required.
          </div>
        </div>
      </md-input-container>
      <md-button class="md-warn" ng-click="vm.deleteItem(field.value, $index)"><i class="material-icons icon-align">clear</i> Delete</md-button>
    </div>
  </div>
</ng-form>
