<md-dialog aria-label="Edit Notice">
  <form name="edit_notice_form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Notice</h2>
        <span flex></span>
        <md-button class= "md-icon-button" ng-click="vm.cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="alert alert-danger" ng-show="notice_edit_failed">
      <a href="#" class="close" ng-click="vm.notice_edit_failed = false;" >&times;</a>
      <strong>Error : </strong> Notice Edit Failed
      <br>
      <span ng-repeat="(field,error) in vm.notice_edit_failed_messages">
        <span ng-repeat="err in error">{{field}} : {{err}}</span>
        <br>
      </span>
    </div>
    <md-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Notice</label>
          <textarea name="notice" ng-model="vm.data.notice" minlength="3" maxlength="150"></textarea>
          <div ng-messages="edit_notice_form.notice.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              This field can not be blank and its length should be between 3 and 150 characters.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.deleteNotice()" class="md-warn">
        Delete
      </md-button>
      <md-button ng-click="vm.editNotice()" class="md-raised md-primary">
        Save
      </md-button>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.notice_edit_in_progress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
