<md-dialog aria-label="Reset Password" class="reset-password-dialog" ng-cloak>
  <form name="reset_password_form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" ng-cloak class="md-inline-form">
          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.email"
                   minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="reset_password_form.email.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 5 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.resetPassword()" ng-disabled="reset_password_form.$invalid" class="md-raised md-primary">
        Reset
      </md-button>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.reset_in_progress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-actions>

    <div ng-show="vm.email_sent">
      <span>
        An email with reset link has been sent. Please check your email.
      </span>
    </div>

    <div class="alert alert-danger" ng-show="vm.reset_failed">
      <a href="#" class="close" ng-click="vm.reset_failed = false;" >&times;</a>
      <strong>Error : </strong> Reset Password failed.
      <br>
      <span ng-repeat="(field,error) in vm.reset_failed_messages">
        <span ng-repeat="err in error">{{field}} : {{err}}</span>
        <br>
      </span>
    </div>
  </form>
</md-dialog>
