<div layout="column" layout-wrap ng-cloak>
  <div layout="row" layout-wrap>
    <div ng-repeat="task in vm.tasks">
      <task task="task"></task>
    </div>
  </div>
  <div flex ng-hide="vm.tasks && vm.tasks.length" layout-align="end end">
    <div>
      <em>No tasks yet.</em>
    </div>
  </div>
  <div flex layout-align="end end" layout="row">
    <md-button class="md-primary md-fab" ng-href="/tasks/new">
      <md-tooltip>
        Add a new task
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</div>
