<div layout="column" layout-wrap ng-cloak>
  <div layout="row" layout-wrap>
    <div ng-repeat="condition in vm.conditions">
      <condition condition="condition"></condition>
    </div>
  </div>
  <div flex ng-hide="vm.conditions && vm.conditions.length" layout-align="end end">
    <div>
      <em>No hooks yet.</em>
    </div>
  </div>
  <div flex layout-align="end end" layout="row">
    <md-button class="md-primary md-fab" ng-click="vm.openNewEventConditionPopup()">
      <md-tooltip>
        Add a new event condition
      </md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</div>
