<div>
  <form name="new_event_condition_form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Event Condition</h2>
        <span flex></span>
        <md-button class= "md-icon-button" ng-click="vm.cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="alert alert-danger" ng-show="vm.event_condition_creation_failed">
      <a href="#" class="close" ng-click="vm.event_condtion_creation_failed=false" >&times;</a>
      <strong>Error : </strong> Event condition creation failed.
      <br>
      <span ng-repeat="(field,error) in vm.event_condition_creation_failed_messages">
        <span ng-repeat="err in error">{{field}} : {{err}}</span>
        <br>
      </span>
    </div>
    <md-content layout-padding>
      <div layout-gt-sm="row" ng-hide="vm.helpline_conditions">
        <md-input-container>
          <label>Hook Type</label>
          <md-select ng-model="vm.data.event_condition_type">
            <md-option ng-repeat="(key, value) in vm.event_condition_types" value="{{key}}">
              {{value}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Event Name</label>
          <input ng-model="vm.data.name">
        </md-input-container>
      </div>
      <div ng-hide="(!vm.data.event_condition_type || (vm.data.event_condition_type !== 'TASK'))">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Task Status</label>
            <md-select placeholder="Select Task Status" ng-model="vm.selected_task_status" style="min-width: 200px;">
              <md-option ng-value="task_status" ng-repeat="task_status in vm.task_status">{{ task_status.status }}</md-option>
            </md-select>
            <br/>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Task Type</label>
            <md-select placeholder="Select Task Type" ng-model="vm.selected_task_type" style="min-width: 200px;">
              <md-option ng-value="task_type" ng-repeat="task_type in vm.task_types">{{ task_type.task_type }}</md-option>
            </md-select>
            <br/>
          </md-input-container>
        </div>
      </div>

      <div ng-hide="(!vm.data.event_condition_type || (vm.data.event_condition_type !== 'USER'))">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Stage</label>
            <md-select placeholder="Select Stage" ng-model="vm.selected_stage" style="min-width: 200px;">
              <md-option ng-value="stage" ng-repeat="stage in vm.stages">{{ stage.name }}</md-option>
            </md-select>
            <br/>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container>
            <label>Tags</label>
            <md-select ng-model="vm.selected_tags"
                       md-on-close="vm.clearSearchTerm()"
                       data-md-container-class="select_tag_select_header"
                       multiple>
              <md-select-header class="tag-select-header">
                <input ng-model="vm.search_term"
                       type="search"
                       placeholder="Search for a tag..."
                       class="tag-header-searchbox md-text"
                       ng-keydown="vm.onSearchTextChange($event)">
              </md-select-header>
              <md-optgroup label="tags">
                <md-option ng-value="tag.id" ng-repeat="tag in vm.available_tags">{{ tag.tag }}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <div ng-hide="!vm.data.event_condition_type">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Hook</label>
            <md-select placeholder="Select Hook" ng-model="vm.selected_hook" style="min-width: 200px;" md-on-close="vm.toggleActions();">
              <md-option ng-value="hook" ng-repeat="hook in vm.hooks">{{ hook.desc }}</md-option>
            </md-select>
            <br/>
          </md-input-container>
        </div>
        <div layout-gt-sm="row" ng-hide="!vm.actions_toggler[vm.selected_hook.name]">
          <md-input-container class="md-block" ng-hide="!vm.actions_toggler['CS']" flex-gt-sm>
            <label>Stage</label>
            <md-select placeholder="Select Stage" ng-model="vm.data.params['stage']" style="min-width: 200px;">
              <md-option ng-value="stage" ng-repeat="stage in vm.action_change_stage_stages">
                {{ stage.name }}
              </md-option>
            </md-select>
            <br/>
          </md-input-container>
          <md-input-container class="md-block" ng-hide="!vm.actions_toggler['AT']" flex-gt-sm>
            <label>Tags</label>
            <md-select ng-model="vm.data.params['tags']"
                       md-on-close="vm.clearSearchTerm()"
                       data-md-container-class="select_tag_select_header"
                       multiple>
              <md-select-header class="tag-select-header">
                <input ng-model="vm.search_term"
                       type="search"
                       placeholder="Search for a tag..."
                       class="tag-header-searchbox md-text"
                       ng-keydown="vm.onSearchTextChange($event)">
              </md-select-header>
              <md-optgroup label="tags">
                <md-option ng-value="tag" ng-repeat="tag in vm.action_add_tags_tags">{{ tag.tag }}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" ng-hide="!vm.actions_toggler['SM']" flex-gt-sm>
            <label>Message Template</label>
            <md-select placeholder="Select Message Template" ng-model="vm.data.params['message_template']" style="min-width: 200px;">
              <md-option ng-value="template" ng-repeat="template in vm.message_templates">
                {{ template.title }}
              </md-option>
            </md-select>
            <br/>
          </md-input-container>
          <md-input-container class="md-block" ng-hide="!vm.actions_toggler['SI']" flex-gt-sm>
            <label>IVR Template</label>
            <md-select placeholder="Select IVR Template" ng-model="vm.data.params['ivr_template']" style="min-width: 200px;">
              <md-option ng-value="template" ng-repeat="template in vm.ivr_templates">
                {{ template.title }}
              </md-option>
            </md-select>
            <br/>
          </md-input-container>
          <div ng-hide="!vm.actions_toggler['CT']" flex-gt-sm>
            <md-input-container class="md-block">
              <label>Task Type</label>
              <md-select placeholder="Select Task Type" ng-model="vm.data.params['task_type']" style="min-width: 200px;">
                <md-option ng-value="task_type" ng-repeat="task_type in vm.action_create_task_task_types">
                  {{ task_type.task_type }}
                </md-option>
              </md-select>
              <br/>
            </md-input-container>
            <md-input-container class="md-block" ng-hide="!vm.actions_toggler['CT']" flex-gt-sm>
              <label>Task Status</label>
              <md-select placeholder="Select Task Status" ng-model="vm.data.params['task_status']" style="min-width: 200px;">
                <md-option ng-value="task_status" ng-repeat="task_status in vm.action_create_task_task_status">
                  {{ task_status.status }}
                </md-option>
              </md-select>
              <br/>
            </md-input-container>
            <!-- IMPROVE THIS LATER -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Assign to User Types</label>
              <md-select ng-model="vm.data.params['assignee_user_type']" md-on-open="vm.loadUserTypes()" style="min-width: 200px;">
                <md-option ng-value="key" ng-repeat="(key, user_type) in vm.user_types">{{ user_type }}</md-option>
              </md-select>
              <br/>
            </md-input-container>
            <!-- TODO: ADD SLA HERE FOR DUE DATES -->
          </div>
        </div>
      </div>
    </md-content>
    <div layout-gt-sm="row">
      <md-button ng-click="vm.createNewEventCondition()" class="md-primary md-raised" ng-disabled="!vm.data.event_condition_type" flex-gt-sm>
        Create
      </md-button>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.task_creation_in_progress">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </form>
</div>
