<md-dialog aria-label="New SpaceType">
  <form name="new_space_type_form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New SpaceType</h2>
        <span flex></span>
        <md-button class= "md-icon-button" ng-click="vm.cancel()">
          <md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="alert alert-danger" ng-show="space_type_creation_failed">
      <a href="#" class="close" ng-click="vm.space_type_creation_failed = false;" >&times;</a>
      <strong>Error : </strong> SpaceType Creation Failed
      <br>
      <span ng-repeat="(field,error) in vm.space_type_creation_failed_messages">
        <span ng-repeat="err in error">{{field}} : {{err}}</span>
        <br>
      </span>
    </div>
    <md-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>SpaceType</label>
          <textarea name="space_type" ng-model="vm.data.name" minlength="3" maxlength="150"></textarea>
          <div ng-messages="new_space_type_form.space_type.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              This field can not be blank and its length should be between 3 and 150 characters.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea name="desc" ng-model="vm.data.desc" minlength="3" maxlength="150"></textarea>
          <div ng-messages="new_space_type_form.desc.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              This field can not be blank and its length should be between 3 and 150 characters.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.createNewSpaceType()" class="md-raised md-primary">
        Create
      </md-button>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.space_type_creation_in_progress">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
